# Pycharm folder and files
.idea

# Byte-compiled / optimized / DLL files
*/__pycache__/
__pycache__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Messages
client/message_queue/*.wav
server/stored_messages/*.wav

# Sound files
client/output.wav
client/string.mp3
client/string.wav
client/replay_message.wav
